<% content_for :side_menu do %>
	<%= render :partial=>"shared/job_seeker_menu" %>
<% end %>
<div style="margin:50px 10px 0px 0px">
  <h3 style="margin-left: 10px;">Welcome To Job-Seekers</h3>
  <p>Thanks for the Registration</p>
  <p>Your Profile matched jobs are displayed comming soon...</p>
</div>