<% content_for(:admin_menu) do %>
  <div class="header">            
    <h1 class="page-title">Admin Users</h1>
  </div>
  <ul class="breadcrumb">
    <li>
      <%= link_to "Home" , admin_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "Admin Users" , admin_admins_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">Edit Admin</li>
  </ul>  
<% end %>
<div class="new_header">
<%= render 'form' %>
</div>