<% content_for(:admin_menu) do %>
  <div class="header">            
    <h1 class="page-title">New Country</h1>
  </div>
  <ul class="breadcrumb">
    <li>
      <%= link_to "Home" , admin_path %>
      <span class="divider">/</span>
    </li>
    <li>
      <%= link_to "Countries" , admin_countries_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">New Country</li>
  </ul>  
<% end %>
<div class="new_header">
	<%= render 'form' %>
</div>